.site {
    width: 1,430px;
    height: 33px;
    background-color: blueviolet;
}

 #uu {
    color: white;
 }

 .destaque {
    color: red;
 }

 .idade {
    color: red;
 }
 h1 {
    color: white;
 }

 .footer {
    color: purple;
 }